body {
    padding: 0;
    margin: 0;
}

.container {
    max-width: 400px;
    margin: 0 auto;
}

.list-inputs {
    margin: 0;
    padding: 0;;
    list-style-type: none;
}

.color-palette {
    margin-top: 20px;
    padding-top: 40%;
    border: 1px solid #000;
}